<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Kelly Miles Design | Graphic Designer | Ottawa, ON</title>
  <link href="css/site.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Graphic Design">
  <script src="https://use.typekit.net/zuw0yjl.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/zuw0yjl.css">
  <link rel="icon apple-touch-icon" type="image/png" href="images/favicon.png" />
  <noscript>
    <style>
        #ddown {display:none;}
        #about {display:none;}
        #footer {display:none;}
    </style>
  </noscript>
</head>
<body>

{{content}}
  <footer class="grid" id="footer">
    <div class="unit xs-1 text-center pad-t">
      <img class="logo" src="images/logo2.svg" alt="Kelly Miles Design">
    </div>
    <div class="unit xs-1 text-center pad-b">
      <small>© Kelly Miles 2017</small>
    </div>
    <div class="unit xs-1 text-center pad-b">
      <div class="block">
        <a href="https://www.behance.net/kellymiles" aria-label="behance">
          <i class="icon i-32 push-r-1-4"><svg><use xlink:href="images/icons.svg#behance" /></svg></i>
        </a>
        <a href="https://www.linkedin.com/in/kelly-miles-6b429292"  aria-label="linkedin">
          <i class="icon i-32 push-r-1-4"><svg><use xlink:href="images/icons.svg#linkedin" /></svg></i>
        </a>
      </div>
  </div>
  </footer>
</body>
</html>
