<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Kelly Miles Design | Graphic Designer | Ottawa, ON</title>
  <link href="css/site.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Graphic Design">
  <script src="https://use.typekit.net/zuw0yjl.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/zuw0yjl.css">
  <link rel="icon apple-touch-icon" type="image/png" href="images/favicon.png" />
  <noscript>
    <style>
        #ddown {display:none;}
        #about {display:none;}
        #footer {display:none;}
    </style>
  </noscript>
</head>
<body>

{{content}}
  <footer class="grid" id="footer">
    <div class="unit xs-1 text-center pad-t">
      <img class="logo" src="images/logo2.svg" alt="Kelly Miles Design">
    </div>
    <div class="unit xs-1 text-center pad-b">
      <small>© Kelly Miles 2017</small>
    </div>
    <div class="unit xs-1 text-center pad-b">
      <div class="block">
        <a href="https://www.behance.net/kellymiles" aria-label="behance">
          <i class="icon i-32 push-r-1-4"><svg><use xlink:href="images/icons.svg#behance" /></svg></i>
        </a>
        <a href="https://www.linkedin.com/in/kelly-miles-6b429292"  aria-label="linkedin">
          <i class="icon i-32 push-r-1-4"><svg><use xlink:href="images/icons.svg#linkedin" /></svg></i>
        </a>
      </div>
    </div>
  </footer>
  <script type="application/ld=json">

    {
      "context": "https://schema.org"
      "type": "Person"
      "name": "Kelly Miles"
      "image": "https://kellymiles.design/images/portrait.png"
      "description": "Graphic Designer in Ottawa, Canada, specializing in print and web design with a focus on typography"
      "url": "https://kellymiles.design/"
    }

    {
      "context": "https://schema.org"
      "type": "CreativeWork"
      "name": "Bitter North"
      "image": "https://kellymiles.design/images/bd-thumbnail.png"
      "description": "Album artwork for a folk/rock band which focuses on the natural beauty of their native Ottawa and embraces the feelings that their name suggests. Musically, it is a mix of classic influences interpreted through modern techniques and this is reflected in the execution of the artwork; a fusion of watercolour painting and digital art."
      "url": "https://kellymiles.design/bitter-north"
    }

    {
      "context": "https://schema.org"
      "type": "CreativeWork"
      "name": "BIKEDASH"
      "image": "https://kellymiles.design/images/bd-thumbnail.png"
      "description": "BIKEDASH is an app that allows urban cyclists to have a heads-up display of real-time trip information (similar to a vehicle’s dashboard) as well as cached trip statistics for a big picture look at the user’s commuting habits."
      "url": "https://kellymiles.design/bitter-north"
    }

    {
      "context": "https://schema.org"
      "type": "CreativeWork"
      "name": "Greenbook"
      "image": "https://kellymiles.design/images/gb-thumbnail.png"
      "description": "Web design for the Algonquin College Media room. The college employs several experts who are willing to be contacted by the media in order to comment on current and developing news stories, this design allows the experts to be more easily contacted and assists the user in finding the most relevant expert for their particular topic or story."
      "url": "https://kellymiles.design/bitter-north"
    }

    {
      "context": "https://schema.org"
      "type": "CreativeWork"
      "name": "World of Maps"
      "image": "https://kellymiles.design/images/wom-thumbnail.png"
      "description": "Logo and logo standards guide for a local retailer that specializes in maps, flags, globes and travel related literature. Their customers are nostalgic, sentimental, and appreciate the value of fine crafting. This brand package was created in order to speak to these values using a clean, modern and sophisticated aesthetic."
      "url": "https://kellymiles.design/bitter-north"
    }

  </script>
</body>
</html>
